VoterFileAnalyzerBootstrapper/SqlLocalDB.MSI
VoterFileAnalyzer/bin/
VoterFileAnalyzer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
VoterFileAnalyzer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VoterFileAnalyzer/obj/Debug/RdlCompile.cache
VoterFileAnalyzer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
VoterFileAnalyzer/obj/Debug/TempPE/Reports.Counties.Designer.cs.dll
VoterFileAnalyzer/obj/Debug/TempPE/Reports.Members.Designer.cs.dll
VoterFileAnalyzer/obj/Debug/TempPE/Reports.MembersByParty.Designer.cs.dll
VoterFileAnalyzer/obj/Debug/TempPE/Reports.VotesByCounty.Designer.cs.dll
VoterFileAnalyzer/obj/Debug/VoterFileAnalyzer.csproj.GenerateResource.Cache
VoterFileAnalyzer/obj/Debug/VoterFileAnalyzer.csprojResolveAssemblyReference.cache
VoterFileAnalyzer/obj/Debug/VoterFileAnalyzer.exe
VoterFileAnalyzer/obj/Debug/VoterFileAnalyzer.pdb
VoterFileAnalyzer/obj/Debug/VoterFileAnalyzer_MarkupCompile.cache
VoterFileAnalyzer/obj/Debug/VoterFileAnalyzer_MarkupCompile.i.cache
VoterFileAnalyzer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VoterFileAnalyzer/obj/Release/RdlCompile.cache
VoterFileAnalyzer/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
VoterFileAnalyzer/obj/Release/TempPE/Reports.Counties.Designer.cs.dll
VoterFileAnalyzer/obj/Release/TempPE/Reports.Members.Designer.cs.dll
VoterFileAnalyzer/obj/Release/TempPE/Reports.MembersByParty.Designer.cs.dll
VoterFileAnalyzer/obj/Release/TempPE/Reports.VotesByCounty.Designer.cs.dll
VoterFileAnalyzer/obj/Release/VoterFileAnalyzer.csproj.GenerateResource.Cache
VoterFileAnalyzer/obj/Release/VoterFileAnalyzer.exe
VoterFileAnalyzer/obj/Release/VoterFileAnalyzer.pdb
VoterFileAnalyzer/obj/Release/VoterFileAnalyzer_MarkupCompile.cache
VoterFileAnalyzer/obj/Release/VoterFileAnalyzer_MarkupCompile.i.cache
