<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
  <Fragment>

    <ComponentGroup Id="FileComponents" Directory="INSTALLFOLDER">
      <Component Id="VoterFileBinary">
        <File Source="$(var.VoterFileAnalyzer.TargetPath)" KeyPath="yes">
          <Shortcut Id="mainShortcut" Name="Voter File Analyzer" Description="Voter File Analyzer" Directory="VoterFileShortcuts" WorkingDirectory="INSTALLFOLDER" Advertise="yes" Icon="floridaVotingIcon.ico" />
        </File>
        <RemoveFolder Id="deleteShortcut" Directory="VoterFileShortcuts" On="uninstall"/>
      </Component>

      <Component Id="EntityFramework.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)EntityFramework.dll"></File>
      </Component>
      <Component Id="EntityFramework.SqlServer.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)EntityFramework.SqlServer.dll"></File>
      </Component>
      <Component Id="EntityFramework.SqlServer.xml">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)EntityFramework.SqlServer.xml"></File>
      </Component>
      <Component Id="EntityFramework.xml">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)EntityFramework.xml"></File>
      </Component>
      <Component Id="EPPlus.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)EPPlus.dll"></File>
      </Component>
      <Component Id="EPPlus.xmlEPPlus.xml">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)EPPlus.xml"></File>
      </Component>
      <Component Id="Excel.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Excel.dll"></File>
      </Component>
      <Component Id="Excel.pdb">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Excel.pdb"></File>
      </Component>
      <Component Id="Microsoft.ReportViewer.Common.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Microsoft.ReportViewer.Common.dll"></File>
      </Component>
      <Component Id="Microsoft.ReportViewer.ProcessingObjectModel.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Microsoft.ReportViewer.ProcessingObjectModel.dll"></File>
      </Component>
      <Component Id="Microsoft.ReportViewer.WinForms.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Microsoft.ReportViewer.WinForms.dll"></File>
      </Component>
      <Component Id="Microsoft.ReportViewer.WinForms.xml">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Microsoft.ReportViewer.WinForms.xml"></File>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Microsoft.WindowsAPICodePack.dll"></File>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.pdb">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Microsoft.WindowsAPICodePack.pdb"></File>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.Shell.dll">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll"></File>
      </Component>
      <Component Id="Microsoft.WindowsAPICodePack.Shell.pdb">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)Microsoft.WindowsAPICodePack.Shell.pdb"></File>
      </Component>
      <Component Id="VoterFile.mdf">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)VoterFile.mdf">
          <Permission User="Everyone" GenericAll="yes" />
        </File>
      </Component>
      <Component Id="VoterFile_log.ldf">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)VoterFile_log.ldf">
          <Permission User="Everyone" GenericAll="yes" />
        </File>
      </Component>
      <Component Id="VoterFileAnalyzer.exe.config">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)VoterFileAnalyzer.exe.config"></File>
      </Component>
      <Component Id="VoterFileAnalyzer.pdb">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)VoterFileAnalyzer.pdb"></File>
      </Component>
      <Component Id="VoterFileAnalyzer.vshost.exe">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)VoterFileAnalyzer.vshost.exe"></File>
      </Component>
      <Component Id="VoterFileAnalyzer.vshost.exe.config">
        <File Source="$(var.VoterFileAnalyzer.TargetDir)VoterFileAnalyzer.vshost.exe.config"></File>
      </Component>

      
    </ComponentGroup>

    <ComponentGroup Id="ReportDefinitions" Directory="REPORTSFOLDER">
      <Component Id="Reports.AllMembers.rdlc">
        <File Source="$(var.VoterFileAnalyzer.ProjectDir)Reports\AllMembers.rdlc"></File>
      </Component>
      <Component Id="Reports.Counties.rdlc">
        <File Source="$(var.VoterFileAnalyzer.ProjectDir)Reports\Counties.rdlc"></File>
      </Component>
      <Component Id="Reports.CountySummary.rdlc">
        <File Source="$(var.VoterFileAnalyzer.ProjectDir)Reports\CountySummary.rdlc"></File>
      </Component>
      <Component Id="Reports.GroupedByCounty.rdlc">
        <File Source="$(var.VoterFileAnalyzer.ProjectDir)Reports\GroupedByCounty.rdlc"></File>
      </Component>
      <Component Id="Reports.MembersByParty.rdlc">
        <File Source="$(var.VoterFileAnalyzer.ProjectDir)Reports\MembersByParty.rdlc"></File>
      </Component>
      <Component Id="Reports.VotesByCounty.rdlc">
        <File Source="$(var.VoterFileAnalyzer.ProjectDir)Reports\VotesByCounty.rdlc"></File>
      </Component>
    </ComponentGroup>

  </Fragment>


</Wix>