<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
  xmlns:sql='http://schemas.microsoft.com/wix/SqlExtension'>
  <Fragment>
    
    <Binary Id="InitialCreate.sql" SourceFile="InitialCreate.sql" />

    <util:User Id="SQLUser" Name="[SQLUSER]" Password="[SQLPASSWORD]" />
    
    <Component Id="SqlComponent" Guid="0bfefd72-68d9-44e8-9e9c-d7ef4a8b73f8" Directory="DATABASEFOLDER" KeyPath="yes">
      <sql:SqlDatabase Id="SqlDatabase" Database="VoterFileConnection" User="SQLUser" Server="(localdb)" Instance="v11.0" CreateOnInstall="yes" DropOnUninstall="yes" ContinueOnError="no">
        <sql:SqlScript Id="CreateTables" BinaryKey="InitialCreate.sql" ExecuteOnInstall="yes" />
      </sql:SqlDatabase>
    </Component>
  
  </Fragment>
</Wix>