<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Voter File Analyzer">
          <Directory Id="ProgramMenuFolder">
            <Directory Id="VoterFileShortcuts" Name="Voter File Analyzer" />
          </Directory>
          <Directory Id="REPORTSFOLDER" Name="Reports" />
        </Directory>
      </Directory>
    </Directory>
	</Fragment>
</Wix>